<fieldset id="{{uid}}-filter-coursemode" class="filter-choice filter-coursemode">
    <legend>{{ lang.filtercoursemodetask }}</legend>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-none" name="{{uid}}-filter-coursemode" value="" checked>
        <label for="{{uid}}-filter-coursemode-none">{{ lang.filtercoursemodenone }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-blendedlearning" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodeblendedlearning }}">
        <label for="{{uid}}-filter-coursemode-blendedlearning">{{ lang.filtercoursemodeblendedlearning }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-fernstudium" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodefernstudium }}">
        <label for="{{uid}}-filter-coursemode-fernstudium">{{ lang.filtercoursemodefernstudium }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-fernunterricht" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodefernunterricht }}">
        <label for="{{uid}}-filter-coursemode-fernunterricht">{{ lang.filtercoursemodefernunterricht }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-präsenzunterricht" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodepräsenzunterricht }}">
        <label for="{{uid}}-filter-coursemode-präsenzunterricht">{{ lang.filtercoursemodepräsenzunterricht }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-sprachreisen" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodesprachreisen }}">
        <label for="{{uid}}-filter-coursemode-sprachreisen">{{ lang.filtercoursemodesprachreisen }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-coursemode-webseminar" name="{{uid}}-filter-coursemode" value="{{ lang.filtercoursemodewebseminar }}">
        <label for="{{uid}}-filter-coursemode-webseminar">{{ lang.filtercoursemodewebseminar }}</label>
    </div>
</fieldset>