<fieldset id="filter-degree" class="filter-choice">
    <legend>{{ lang.courseliststep:filterdegreetask }}</legend>
    <div>
        <input type="radio" id="filter-degree-none" name="filter-degree" value checked>
        <label for="filter-degree-none">{{ lang.courseliststep:filterdegreenone }}</label>
    </div>
    <div>
        <input type="radio" id="filter-degree-no" name="filter-degree" value="0">
        <label for="filter-degree-no">{{ lang.courseliststep:filterdegreeno }}</label>
    </div>
    <div>
        <input type="radio" id="filter-degree-yes" name="filter-degree" value="1">
        <label for="filter-degree-yes">{{ lang.courseliststep:filterdegreeyes }}</label>
    </div>
</fieldset>