<fieldset id="{{uid}}-filter-duration" class="filter-choice filter-duration">
    <legend>{{ lang.filterdurationtask }}</legend>
    <div>
        <input type="radio" id="{{uid}}-filter-duration-none" name="{{uid}}-filter-duration" value="" checked>
        <label for="{{uid}}-filter-duration-none">{{ lang.filterdurationnone }}</label>
    </div>
    <div>
        <input type="radio" id="{{uid}}-filter-duration-1" name="{{uid}}-filter-duration" value="1">
        <label for="{{uid}}-filter-duration-1">{{ lang.filterduration1 }}</label>
    </div>
    <div>
        <input type="radio" id="{{uid}}-filter-duration-3" name="{{uid}}-filter-duration" value="3">
        <label for="{{uid}}-filter-duration-3">{{ lang.filterduration3 }}</label>
    </div>
    <div>
        <input type="radio" id="{{uid}}-filter-duration-7" name="{{uid}}-filter-duration" value="7">
        <label for="{{uid}}-filter-duration-7">{{ lang.filterduration7 }}</label>
    </div>
    <div>
        <input type="radio" id="{{uid}}-filter-duration-93" name="{{uid}}-filter-duration" value="93">
        <label for="{{uid}}-filter-duration-93">{{ lang.filterduration93 }}</label>
    </div>
</fieldset>