<fieldset id="filter-duration" class="filter-choice">
    <legend>{{ lang.courseliststep:filterdurationtask }}</legend>
    <div>
        <input type="radio" id="filter-duration-none" name="filter-duration" value="" checked>
        <label for="filter-duration-none">{{ lang.courseliststep:filterdurationnone }}</label>
    </div>
    <div>
        <input type="radio" id="filter-duration-1" name="filter-duration" value="1">
        <label for="filter-duration-1">{{ lang.courseliststep:filterduration1 }}</label>
    </div>
    <div>
        <input type="radio" id="filter-duration-3" name="filter-duration" value="3">
        <label for="filter-duration-3">{{ lang.courseliststep:filterduration3 }}</label>
    </div>
    <div>
        <input type="radio" id="filter-duration-7" name="filter-duration" value="7">
        <label for="filter-duration-7">{{ lang.courseliststep:filterduration7 }}</label>
    </div>
    <div>
        <input type="radio" id="filter-duration-93" name="filter-duration" value="93">
        <label for="filter-duration-93">{{ lang.courseliststep:filterduration93 }}</label>
    </div>
</fieldset>