<fieldset id="{{uid}}-filter-funding" class="filter-choice filter-funding">
    <legend>{{ lang.filterfundingtask }}</legend>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-none" name="{{uid}}-filter-funding" value="" checked>
        <label for="{{uid}}-filter-funding-none">{{ lang.filterfundingnone }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-aktivierungsgutschein" name="{{uid}}-filter-funding" value="Aktivierungsgutschein">
        <label for="{{uid}}-filter-funding-aktivierungsgutschein">{{ lang.filterfundingaktivierungsgutschein }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-bafoegaufstieg" name="{{uid}}-filter-funding" value="BAföG (Aufstieg)">
        <label for="{{uid}}-filter-funding-bafoegaufstieg">{{ lang.filterfundingbafoegaufstieg }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-bafoegstudium" name="{{uid}}-filter-funding" value="BAföG (Studium)">
        <label for="{{uid}}-filter-funding-bafoegstudium">{{ lang.filterfundingbafoegstudium }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-bildungsgutschein" name="{{uid}}-filter-funding" value="Bildungsgutschein">
        <label for="{{uid}}-filter-funding-bildungsgutschein">{{ lang.filterfundingbildungsgutschein }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-bildungsurlaub" name="{{uid}}-filter-funding" value="Bildungsurlaub">
        <label for="{{uid}}-filter-funding-bildungsurlaub">{{ lang.filterfundingbildungsurlaub }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-funding-rehabilitation" name="{{uid}}-filter-funding" value="Rehabilitation">
        <label for="{{uid}}-filter-funding-rehabilitation">{{ lang.filterfundingrehabilitation }}</label>
    </div>
</fieldset>