<h2>{{ lang.levelgoalstep:heading }}</h2>
<p>{{ lang.levelgoalstep:subheading }}</p>
<dialog class="help-modal modal">
    <article>{{{ lang.levelgoalstep:help }}}</article>
    <button type="button" class="close-help-modal-btn btn-link" title="{{ lang.help:understood }}">{{ lang.help:understood }}</button>
</dialog>
<button type="button" class="open-help-modal-btn btn-link" title="{{ lang.help }}"><i class="icon help-icon"></i>{{lang.levelgoalstep:helpintro}}</button>
<ul class="level-goal-selection"></ul>