<h2>{{ lang.levelcurrentstep:heading }}</h2>
<p>{{ lang.levelcurrentstep:subheading }}</p>
<dialog class="help-modal modal">
    <article>{{{ lang.levelcurrentstep:help }}}</article>
    <button type="button" class="close-help-modal-btn btn-link" title="{{ lang.help:understood }}">{{ lang.help:understood }}</button>
</dialog>
<button type="button" class="open-help-modal-btn btn-link" title="{{ lang.help }}"><i class="icon help-icon"></i>{{lang.levelcurrentstep:helpintro}}</button>
<ul class="level-current-selection"></ul>