{{ #skillsfound }}
<h2>{{ lang.occupationskillsstep:heading }}</h2>
{{ #maxskills }}
<p>{{{ lang.occupationskillsstep:subheadingmax }}}</p>
{{ /maxskills }}
{{ ^maxskills }}
<p>{{{ lang.occupationskillsstep:subheading }}}</p>
{{ /maxskills }}
<dialog class="help-modal modal">
    <article>{{{ lang.occupationskillsstep:help }}}</article>
    <button type="button" class="close-help-modal-btn btn-link" title="{{ lang.help:understood }}">{{ lang.help:understood }}</button>
</dialog>
<button type="button" class="open-help-modal-btn btn-link" title="{{ lang.help }}"><i class="icon help-icon"></i>{{lang.occupationskillsstep:helpintro}}</button>
<section class="selectable-skills">
    <article class="occupationskills">
        <p class="skill-counter"></p>
        <ul>
            {{ #skills }}
            <li>
                <input type="checkbox" id="occupationskills:{{ uri }}" skilluri="{{ uri }}" skilllabel="{{ label }}">
                <label for="occupationskills:{{ uri }}">{{ label }}</label>
            </li>
            {{ /skills }}
        </ul>
    </article>
    {{ #showmore }}
    <div class="button-list">
        <button type="button" class="btn-primary" id="occupationskills-showmore">{{ lang.occupationskillsstep:showmore }}</button>
        <button type="button" class="btn-primary" id="occupationskills-showless">{{ lang.occupationskillsstep:showless }}</button>
    </div>
    {{ /showmore }}
</section>
{{ /skillsfound }}
{{ ^skillsfound }}
<h2>{{ lang.occupationskillsstep:nooccupationskillsfound }}</h2>
<p>{{{ lang.occupationskillsstep:nooccupationskillsfounddescription }}}</h2>
<div class="button-list">
    <button type="button" stepname="occupation" class="btn-primary">{{ lang.occupationskillsstep:gotooccupationstep }}</button>
    <button type="button" stepname="skills" class="btn-primary">{{ lang.occupationskillsstep:gotoskillsstep }}</button>
</div>
{{ /skillsfound }}
