<h2>{{ lang.occupationstep:heading }}</h2>
<dialog class="help-modal modal">
    <article>{{{ lang.occupationstep:help }}}</article>
    <button type="button" class="close-help-modal-btn btn-link" title="{{ lang.help:understood }}">{{ lang.help:understood }}</button>
</dialog>
<button type="button" class="open-help-modal-btn btn-link" title="{{ lang.help }}"><i class="icon help-icon"></i>{{lang.occupationstep:helpintro}}</button>
<section class="autocomplete-box">
    <div class="autocomplete-box__input">
        <i class="icon search-icon"></i>
        <input type="text" placeholder="{{ lang.occupationstep:inputplaceholder }}" name="esco-occupation-select"
            id="esco-occupation-select" class="scout-autocomplete" esco-type="occupation" max="50" onlyrelevant="False"
            autocomplete="off">
        <button class="clear-input" title="{{ lang.clearinput }}"><i class="icon close-icon"></i></button>
    </div>
    <output name="esco-occupation-autocomplete" for="esco-occupation-select"></output>
</section>