<fieldset id="{{uid}}-filter-timeofday" class="filter-choice filter-timeofday">
    <legend>{{ lang.filtertimeofdaytask }}</legend>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-none" name="{{uid}}-filter-timeofday" value="" checked>
        <label for="{{uid}}-filter-timeofday-none">{{ lang.filtertimeofdaynone }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-fullday" name="{{uid}}-filter-timeofday" value="Ganztags">
        <label for="{{uid}}-filter-timeofday-fullday">{{ lang.filtertimeofdayfullday }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-morning" name="{{uid}}-filter-timeofday" value="Vormittags">
        <label for="{{uid}}-filter-timeofday-morning">{{ lang.filtertimeofdaymorning }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-afternoon" name="{{uid}}-filter-timeofday" value="Nachmittags">
        <label for="{{uid}}-filter-timeofday-afternoon">{{ lang.filtertimeofdayafternoon }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-evening" name="{{uid}}-filter-timeofday" value="Abends">
        <label for="{{uid}}-filter-timeofday-evening">{{ lang.filtertimeofdayevening }}</label>
    </div>
    <div>
        <input type="checkbox" id="{{uid}}-filter-timeofday-weekend" name="{{uid}}-filter-timeofday" value="Wochenende">
        <label for="{{uid}}-filter-timeofday-weekend">{{ lang.filtertimeofdayweekend }}</label>
    </div>
</fieldset>